<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapChat Clone</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <script src="scripts/inc/timef.js" defer></script>
    <script src="scripts/index/user.js" defer></script>
    <script src="scripts/index/cslider.js" defer></script>
    <script src="scripts/index/modal.js" defer></script>
    <script src="scripts/index/components.js" defer></script>
    <script src="scripts/index/extras.js" defer></script>
    <script src="scripts/index/friendrequests.js" defer></script>
    <script src="scripts/index/friends.js" defer></script>
    <script src="scripts/index/chats.js" defer></script>
    <script src="scripts/index/currentuser.js" defer></script>
    <script src="scripts/index/snaps.js" defer></script>
    <script src="scripts/index/contextmenu.js" defer></script>
    <script src="scripts/index/chatprofile.js" defer></script>
    <script src="scripts/index/story.js" defer></script>
    <script src="scripts/index/num_format.js" defer></script>
    <script src="scripts/index/index.js" defer></script>
</head>
<body>
    <div class="body-container" id="body-container" theme="dark">
        <div class="modal" id="modal"></div>
        <div class="auserprofile" id="auserprofile">
            <div class="back" id="auserprofile-clsbtn">
                <i class="fa-solid fa-chevron-left" id="userprofile-clsbtn"></i>
            </div>
            <div class="username" id="auserprofile-username" style="--color: #2869f5;"></div>
            <div class="tags" id="auserprofile-tags"></div>
            <br>
            <div class="text-container">
                <div class="title">Friends Since</div>
                <div class="text" id="friends-since"></div>
            </div>
            <br><br>
            <div class="buttons">
                <button class="default" id="auserprofile-mkbsf">Make Best Friend</button>
                <button class="danger" id="auserprofile-rmf">Remove Friend</button>
                <button class="danger" id="auserprofile-block">Block</button>
            </div>
        </div>
        <div class="view-snap" id="view-snap">
            <div class="vs-wrapper">
                <img src="imgs/logo.png" id="view-snap-image">
                <div class="profile">
                    <div class="usericon" id="view-snap-usericon" style="--profcolor:#2869f5;"><i class="fa-solid fa-user"></i></div>
                    <div class="username" id="view-snap-username">drake</div>
                </div>
            </div>
        </div>
        <div class="view-story" id="view-story">
            <div class="container">
                <img src="" id="view-story-current-image" alt="">
                <div class="story-tabs" id="view-story-tabs">
                    <div class="tab sel"></div>
                    <div class="tab"></div>
                    <div class="tab"></div>
                    <div class="tab"></div>
                </div>
                <div class="user">
                    <div class="usericon" id="view-story-usericon" style="--color: #2869f5;"><i class="fa-solid fa-user"></i></div>
                    <div class="name-date">
                        <div class="username" id="view-story-user"></div>
                        <div class="date" id="view-story-time"></div>
                    </div>
                </div>
                <div class="nav left" id="view-story-navl"><i class="fa-solid fa-circle-chevron-left"></i></div>
                <div class="nav right" id="view-story-navr"><i class="fa-solid fa-circle-chevron-right"></i></div>
            </div>
        </div>
        <div class="send-snap" id="send-snap">
            <div class="close-btn" id="send-snap-clsbtn"><i class="fa-solid fa-chevron-down"></i></div><br>
            <div class="title">
                <div>Send to</div>
                <div id="send-snap-username"></div>
            </div>
            <label for="send-snapfile">
                <input type="file" name="send-snapfile" id="send-snapfile" accept="image/*">
                <div class="snap-box">Tap or Click to add image</div>
            </label>
        </div>
        <div class="send-snap" id="send-story">
            <div class="close-btn" id="send-story-clsbtn"><i class="fa-solid fa-chevron-down"></i></div><br>
            <div class="title">
                <div>Add to Story</div>
            </div>
            <label for="send-storyfile">
                <input type="file" name="send-storyfile" id="send-storyfile" accept="image/*">
                <div class="snap-box">Tap or Click to add image</div>
            </label>
        </div>
        <div class="preview-send-snap" id="preview-send-story">
            <div class="prvwss-wrapper">
                <img src="imgs/logo.png" id="preview-send-story-image" alt="">
                <div class="close" id="preview-send-story-closebtn"><i class="fa-solid fa-xmark"></i></div>
                <div class="sendto">
                    <span class="username" id="preview-send-story-send">Add to Story <i class="fa-solid fa-play" id="preview-send-story-send2"></i></span>
                </div>
            </div>
        </div>
        <div class="preview-send-snap" id="preview-send-snap">
            <div class="prvwss-wrapper">
                <img src="imgs/logo.png" id="preview-send-snap-image" alt="">
                <div class="close" id="preview-send-snap-closebtn"><i class="fa-solid fa-xmark"></i></div>
                <div class="sendto">
                    <span class="username" id="preview-send-snap-usrname">Drake</span><i class="fa-solid fa-play" id="preview-send-snap-sendicon"></i>
                </div>
            </div>
        </div>
        <div class="currentuserprofile" id="currentuserprofile">
            <div class="col-0">
                <div id="curretuser-clsbtn"><i class="fa-solid fa-chevron-down"></i></div>
            </div>
            <div class="col-1">
                <div class="usericon" id="cup-usericon" style="--color: #2869f5;"><i class="fa-solid fa-user"></i></div>
                <div class="userinfo">
                    <div class="name" id="cup-dname"></div>
                    <div class="username" id="cup-username"></div>
                </div>
            </div>
            <div class="col-2">
                <div class="tags" id="cup-tags"></div>
            </div>
            <div class="col-3">
                <div class="form-container">
                    <div class="title">Best Friend</div>
                    <div class="text" id="bsf-container"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-container">
                    <div class="title">Stories</div>
                    <div class="stories" id="stories-container"></div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-container">
                    <div class="title">Display Modes</div>
                    <div class="text">Tap to switch between light and dark mode</div>
                    <div class="switch">
                        <div class="main tgl" id="switch-main"><i class="bi bi-moon-fill"></i> Dark</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-container">
                    <div class="title">User Verification</div>
                    <div class="text" id="cup-vtxt"></div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-container">
                    <button class="default" id="logoutof-acc-user-btn">Logout</button>
                </div>
            </div>
        </div>
        <div class="manage-stories" id="manage-stories">
            <div class="back">
                <div id="manage-stories-clsbtn"><i class="fa-solid fa-chevron-down"></i></div>
            </div>
            <div class="story-preview">
                <img src="imgs/img1.png" id="manage-stories-storyimage" alt="">
            </div>
            <div class="story-views">
                <div class="title" id="manage-stories-views">5 views</div>
                <div class="views" id="manage-stories-viewers">
                    <div class="user">
                        <div class="usericon" style="--color: #2869f5;"><i class="fa-solid fa-user"></i></div>
                        <div class="name">User</div>
                    </div>
                    <div class="user">
                        <div class="usericon" style="--color: #2869f5;"><i class="fa-solid fa-user"></i></div>
                        <div class="name">User</div>
                    </div>
                    <div class="user">
                        <div class="usericon" style="--color: #2869f5;"><i class="fa-solid fa-user"></i></div>
                        <div class="name">User</div>
                    </div>
                    <div class="user">
                        <div class="usericon" style="--color: #2869f5;"><i class="fa-solid fa-user"></i></div>
                        <div class="name">User</div>
                    </div>
                    <div class="user">
                        <div class="usericon" style="--color: #2869f5;"><i class="fa-solid fa-user"></i></div>
                        <div class="name">User</div>
                    </div>
                    <div class="user">
                        <div class="usericon" style="--color: #2869f5;"><i class="fa-solid fa-user"></i></div>
                        <div class="name">User</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr" id="fr">
            <div class="search-bar">
                <div id="frclsbtn"><i class="fa-solid fa-chevron-down"></i></div>
                <input type="text" name="search-people" id="search-fr" autocomplete="off" placeholder="Search...">
            </div>
            <div class="results" id="fr-results"></div>
        </div>
        <div class="slideui" id="chat" replyto="">
            <div class="cprofile">
                <div id="chat-clsbtn"><i class="fa-solid fa-chevron-left"></i></div>
                <div class="usericon" id="chat-usricon"><i class="fa-solid fa-user"></i></div>
                <div class="profilename" id="chat-profilename"></div>
            </div>
            <div class="chatspace" id="chats-chatspace"></div>
            <div class="messagebox">
                <div class="replytomsg" id="replytomsg">
                    <div class="user" id="replytomsg-username"></div>
                    <div class="msg" id="replytomsg-msg"></div>
                </div>
                <div>
                    <div class="attach" id="chats-msgbox-snap"><i class="bi bi-camera"></i></div>
                    <input type="text" name="message" id="chatbox-message" class="message" autocomplete="off" placeholder="Chat">
                </div>
            </div>
        </div>
        <div class="context-menu-modal" id="context-menu-modal">
            <div class="context-menu" id="context-menu">
                <div class="optionreactions">
                    <div class="opreact" id="ctxtmenu-laugh">🤣</div>
                    <div class="opreact" id="ctxtmenu-angry">😡</div>
                    <div class="opreact" id="ctxtmenu-thumb-up">👍</div>
                    <div class="opreact" id="ctxtmenu-thumb-down">👎</div>
                    <div class="opreact" id="ctxtmenu-skull">💀</div>
                </div>
                <div class="option" id="ctxtmenu-savebtn"><i class="fa-solid fa-bookmark"></i> Save</div>
                <div class="option" id="ctxtmenu-copybtn"><i class="fa-regular fa-copy"></i> Copy</div>
                <div class="option" id="ctxtmenu-editbtn"><i class="fa-solid fa-pen"></i> Edit</div>
                <div class="option" id="ctxtmenu-replybtn"><i class="fa-solid fa-reply"></i> Reply</div>
                <div class="option red" id="ctxtmenu-deletebtn"><i class="fa-regular fa-trash-can"></i> Delete</div>
            </div>
        </div>
        <div class="col1">
            <div class="user-profile" id="curretuser-openbtn"><i class="fa-solid fa-user"></i></div>
            <div class="span">Chat</div>
            <div class="friend-requests" id="frbtn">
                <i class="fa-solid fa-user-plus"></i>
                <div class="notifs" id="number-offr"></div>
            </div>
        </div>
        <!-- Stories -->
        <div class="col2" id="stories">
            <div class="story add" id="add-a-story-btn" onclick="addStoryButtonFunc()">
                <div class="img"><i class="fa-solid fa-plus"></i></div>
                <div class="span">Add to Story</div>
            </div>
        </div>
        <!-- Chats -->
        <div class="col3" id="friends-chat-list"></div>
    </div>
</body>
</html>