<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapChat Clone</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="body-container" theme="dark">
        <div class="modal" id="modal">
            <!-- <div class="modalbox yesornomodal">
                <div class="title">Remove Friend</div>
                <div class="text">Are you sure you want to remove user as a friend?</div>
                <div class="buttons">
                    <button class="danger">Yes</button>
                    <button class="default">Yes</button>
                    <button class="regular">No</button>
                </div>
            </div> -->
            <!-- <div class="modalbox inputmodal">
                <div class="title">Insert Name</div>
                <div class="input">
                    <input type="text" name="modalinput" id="modalinput" autocomplete="off" placeholder="Name">
                </div>
                <div class="buttons">
                    <button class="default">Yes</button>
                    <button class="regular">No</button>
                </div>
            </div> -->
            <div class="modalbox colorslider">
                <div class="title">Choose a color</div>
                <div class="cslider">
                    <div class="bar">
                        <div class="thumb" style="--thumb: 20px;"></div>
                    </div>
                    <div class="chosen" style="--color: #2869f5;"></div>
                </div>
                <div class="buttons">
                    <button class="default">Yes</button>
                    <button class="regular">No</button>
                </div>
            </div>
        </div>
        <!-- <div class="auserprofile">
            <div class="username" style="--color: #2869f5;">User</div>
            <div class="tags">
                <div class="tag">😊 Best Friend</div>
                <div class="tag">🔥 5</div>
                <div class="tag">💕 Close Friend</div>
            </div>
        </div> -->
        <div class="slideui show" id="chat">
            <div class="cprofile">
                <i class="fa-solid fa-chevron-left"></i>
                <div class="usericon"><i class="fa-solid fa-user"></i></div>
                <div class="profilename">User</div>
            </div>
            <div class="chatspace">
                <div class="chatmsg" style="--profcolor: #288bf5;">
                    <div class="user">user</div>
                    <div class="chats">
                        <div class="saved">ur so gay bro</div>
                        <div class="reactions">
                            <div class="reaction">🤣</div>
                        </div>
                        <div class="saved">u liike dick 🍆 </div>
                    </div>
                </div>
                <div class="chatmsg" style="--profcolor: #28f532;">
                    <div class="user">me</div>
                    <div class="chats">
                        <div>shut the front door</div>
                    </div>
                </div>
            </div>
            <div class="messagebox">
                <form>
                    <input type="text" name="message" id="message" class="message" placeholder="Chat">
                    <label for="picture">
                        <input type="file" name="picture" id="picture" accept="images/*">
                        <div class="attach"><i class="fa-regular fa-image"></i></div>
                    </label>
                </form>
            </div>
        </div>
        <div class="context-menu">
            <div class="optionreactions">
                <div class="opreact">🤣</div>
                <div class="opreact">😡</div>
                <div class="opreact">👍</div>
                <div class="opreact">👎</div>
                <div class="opreact">💀</div>
            </div>
            <div class="option"><i class="fa-solid fa-bookmark"></i> Save</div>
            <div class="option"><i class="fa-regular fa-copy"></i> Copy</div>
            <div class="option"><i class="fa-solid fa-reply"></i> Reply</div>
            <div class="option red"><i class="fa-regular fa-trash-can"></i> Delete</div>
        </div>
        <div class="col1">
            <div class="user-profile"><i class="fa-solid fa-user"></i></div>
            <div class="span">Chat</div>
            <div class="friend-requests">
                <i class="fa-solid fa-user-plus"></i>
                <div class="notifs">9+</div>
            </div>
        </div>
        <!-- Stories -->
        <div class="col2" id="stories">
            <div class="story add">
                <div class="img"><i class="fa-solid fa-plus"></i></div>
                <div class="span">Add to Story</div>
            </div>
            <div class="story watched">
                <img src="imgs/img1.png" alt="">
                <div class="span">user1000</div>
                <div class="refresh"><i class="fa-solid fa-rotate-left"></i></div>
            </div>
            <div class="story">
                <img src="imgs/img1.png" alt="">
                <div class="span">user10002912929290</div>
            </div>
        </div>
        <!-- Chats -->
        <div class="col3">
            <div class="chat">
                <div class="profile"><i class="fa-solid fa-user"></i></div>
                <div class="chatinfo">
                    <div class="name">Nigger</div>
                    <div class="chat-status">
                        <div class="nc"><i class="fa-solid fa-stop"></i> New Chat</div>
                        <i class="bi bi-dot"></i>
                        <div class="time">2d</div>
                    </div>
                </div>
                <div class="snap"><i class="bi bi-camera"></i></div>
            </div>
            <div class="chat">
                <div class="profile"><i class="fa-solid fa-user"></i></div>
                <div class="chatinfo">
                    <div class="name">Nigger</div>
                    <div class="chat-status">
                        <div class="dc"><i class="fa-solid fa-stop"></i> Delivered</div>
                        <i class="bi bi-dot"></i>
                        <div class="time">2d</div>
                    </div>
                </div>
                <div class="snap"><i class="bi bi-camera"></i></div>
            </div>
        </div>
    </div>
    <!-- <div class="nofrs">
        <h2>No Friends?</h2>
        <span>Explore and meet new friends</span><br>
        <button>Find Friends</button>
    </div> -->
</body>
</html>