<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapChat Clone</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="body-container" theme="dark">
        <div class="col1">
            <div class="user-profile"><i class="fa-solid fa-user"></i></div>
            <div class="span">Chat</div>
            <div class="friend-requests">
                <i class="fa-solid fa-user-plus"></i>
                <div class="notifs">9+</div>
            </div>
        </div>
    </div>
</body>
</html>