<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapChat Clone</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="scripts/inc/timef.js" defer></script>
    <script src="scripts/index/user.js" defer></script>
    <script src="scripts/index/cslider.js" defer></script>
    <script src="scripts/index/modal.js" defer></script>
    <script src="scripts/index/components.js" defer></script>
    <script src="scripts/index/extras.js" defer></script>
    <script src="scripts/index/contextmenu.js" defer></script>
    <script src="scripts/index/friendrequests.js" defer></script>
    <script src="scripts/index/friends.js" defer></script>
    <script src="scripts/index/chats.js" defer></script>
    <script src="scripts/index/currentuser.js" defer></script>
    <script src="scripts/index/index.js" defer></script>
</head>
<body>
    <div class="body-container" id="body-container" theme="dark">
        <div class="modal" id="modal">
            <!-- <div class="modalbox yesornomodal">
                <div class="title">Remove Friend</div>
                <div class="text">Are you sure you want to remove user as a friend?</div>
                <div class="buttons">
                    <button class="danger">Yes</button>
                    <button class="default">Yes</button>
                    <button class="regular">No</button>
                </div>
            </div> -->
        </div>
        <!-- <div class="auserprofile">
            <div class="username" style="--color: #2869f5;">User</div>
            <div class="tags">
                <div class="tag">😊 Best Friend</div>
                <div class="tag">🔥 5</div>
                <div class="tag">💕 Close Friend</div>
            </div>
        </div> -->
        <div class="currentuserprofile" id="currentuserprofile">
            <div class="col-0">
                <div id="curretuser-clsbtn"><i class="fa-solid fa-chevron-down"></i></div>
            </div>
            <div class="col-1">
                <div class="usericon" id="cup-usericon" style="--color: #2869f5;"><i class="fa-solid fa-user"></i></div>
                <div class="userinfo">
                    <div class="name" id="cup-dname"></div>
                    <div class="username" id="cup-username"></div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="title">Display Modes</div>
                    <div class="text">Tap to switch between light and dark mode</div>
                    <div class="switch">
                        <div class="main tgl" id="switch-main"><i class="bi bi-moon-fill"></i> Dark</div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="title">User Verification</div>
                    <div class="text" id="cup-vtxt"></div>
                </div>
            </div>
        </div>
        <div class="fr" id="fr">
            <div class="search-bar">
                <div id="frclsbtn"><i class="fa-solid fa-chevron-down"></i></div>
                <input type="text" name="search-people" id="search-fr" autocomplete="off" placeholder="Search...">
            </div>
            <div class="results" id="fr-results"></div>
        </div>
        <div class="slideui" id="chat">
            <div class="cprofile">
                <i class="fa-solid fa-chevron-left" id="chat-clsbtn"></i>
                <div class="usericon"><i class="fa-solid fa-user"></i></div>
                <div class="profilename">User</div>
            </div>
            <div class="chatspace">
                <div class="chatmsg" style="--profcolor: #288bf5;">
                    <div class="user">user</div>
                    <div class="chats">
                        <div class="saved">ur so gay bro</div>
                        <div class="reactions">
                            <div class="reaction">🤣</div>
                        </div>
                        <div class="saved">u liike dick 🍆 </div>
                    </div>
                </div>
                <div class="chatmsg" style="--profcolor: #28f532;">
                    <div class="user">me</div>
                    <div class="chats">
                        <div>shut the front door</div>
                    </div>
                </div>
            </div>
            <div class="messagebox">
                <form>
                    <input type="text" name="message" id="chatbox-message" class="message" placeholder="Chat">
                    <label for="picture">
                        <input type="file" name="picture" id="picture" accept="images/*">
                        <div class="attach"><i class="fa-regular fa-image"></i></div>
                    </label>
                </form>
            </div>
        </div>
        <div class="context-menu" id="context-menu">
            <div class="optionreactions">
                <div class="opreact">🤣</div>
                <div class="opreact">😡</div>
                <div class="opreact">👍</div>
                <div class="opreact">👎</div>
                <div class="opreact">💀</div>
            </div>
            <div class="option"><i class="fa-solid fa-bookmark"></i> Save</div>
            <div class="option"><i class="fa-regular fa-copy"></i> Copy</div>
            <div class="option"><i class="fa-solid fa-reply"></i> Reply</div>
            <div class="option red"><i class="fa-regular fa-trash-can"></i> Delete</div>
        </div>
        <div class="col1">
            <div class="user-profile" id="curretuser-openbtn"><i class="fa-solid fa-user"></i></div>
            <div class="span">Chat</div>
            <div class="friend-requests" id="frbtn">
                <i class="fa-solid fa-user-plus"></i>
                <div class="notifs" id="number-offr"></div>
            </div>
        </div>
        <!-- Stories -->
        <div class="col2" id="stories">
            <div class="story add">
                <div class="img"><i class="fa-solid fa-plus"></i></div>
                <div class="span">Add to Story</div>
            </div>
            <div class="story watched">
                <img src="imgs/img1.png" alt="">
                <div class="span">user1000</div>
                <div class="refresh"><i class="fa-solid fa-rotate-left"></i></div>
            </div>
            <div class="story">
                <img src="imgs/img1.png" alt="">
                <div class="span">user10002912929290</div>
            </div>
        </div>
        <!-- Chats -->
        <div class="col3" id="friends-chat-list"></div>
    </div>
</body>
</html>