<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapChat Clone Login</title>

    <link rel="stylesheet" href="css/logon.css">

    <script src="scripts/login/login.js" defer></script>
</head>
<body>
    <div class="login-container" theme="dark">
        <div class="form-content">
            <input type="text" name="username" id="username" autocomplete="off" placeholder="Username">
        </div>
        <div class="form-content">
            <input type="password" name="password" id="password" autocomplete="off" placeholder="Password">
        </div>
        <div class="form-content">
            <button id="loginbtn">Login</button>
        </div>
        <br>
        <span>Don't have an account? <a href="/signup">Sign Up</a></span>
    </div>
</body>
</html>