<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapChat Clone Login</title>

    <link rel="stylesheet" href="css/logon.css">
</head>
<body>
    <div class="login-container" theme="light">
        <div class="form-content">
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="form-content">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-content">
            <input type="password" name="password" id="password2" placeholder="Password (Again)">
        </div>
        <div class="form-content">
            <button>Login</button>
        </div>
        <br>
        <span>Already have an account? <a href="">Login</a></span>
    </div>
</body>
</html>