@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --darktheme-bg: #262626;
    --lighttheme-bg: #fff;
    --darktheme-color: #fff;
    --lighttheme-color: #000;
    --story-ring-color: #2b8bff;

    --chatcolor: #4d9dff;
    --snapcolor: #df2323;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Inter';
    position: relative;
}

* { box-sizing: border-box; transition: all 0.2s; }
img { -webkit-user-drag: none; }
::-webkit-scrollbar { width: 1px; height: 1px; }
::-webkit-scrollbar-thumb { width: 1px; height: 1px; background-color: transparent; }
::-webkit-scrollbar-thumb:hover { width: 1px; height: 1px; background-color: transparent; }
::-webkit-scrollbar-track { width: 1px; height: 1px; background-color: transparent; }

.body-container {
    width: 24vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.body-container[theme="dark"] {
    background-color: var(--darktheme-bg);
    color: var(--darktheme-color);
}

.body-container[theme="light"] {
    background-color: var(--lighttheme-bg);
    color: var(--lighttheme-color);
}

.context-menu {
    position: absolute;
    z-index: 4;
    top: 30px /* var(--mousex) */;
    left: 30px /* var(--mousey) */;
    width: 50%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px 8px #3d3d3d31;
}
.body-container[theme="dark"] .context-menu { background-color: var(--darktheme-bg); color: var(--darktheme-color); }
.body-container[theme="light"] .context-menu { background-color: var(--lighttheme-bg); color: var(--lighttheme-color); }
.context-menu .option {
    width: 100%;
    height: 4vh;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: inherit;
    font-size: 1.05rem;
}
.context-menu .option:hover { opacity: 0.8; }
.body-container[theme="dark"] .context-menu .option:hover { background-color: #363636; }
.body-container[theme="light"] .context-menu .option:hover { background-color: #e2e2e2; }
.context-menu .option.red { color: #fd2b2b; }
.context-menu .optionreactions {
    width: 100%;
    height: 6vh;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}
.context-menu .optionreactions > div {
    cursor: pointer;
    animation: none;
    border-radius: 5px;
}
.body-container[theme="dark"] .context-menu .optionreactions > div:hover { background-color: #363636; }
.body-container[theme="light"] .context-menu .optionreactions > div:hover { background-color: #e2e2e2; }
@keyframes shakereaction {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
.context-menu .optionreactions > div:hover {
    scale: 1.5;
    animation: shakereaction 0.2s forwards;
}

.auserprofile {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal { display: none; }
.modal.show {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal div > .title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 10px 0;
}

.modal div > .text {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.modal div > .input {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    border: none;
    outline: none;
}
.modal div > .cslider {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal div > .cslider .bar {
    width: 100%;
    height: 3vh;
    background: linear-gradient(to right,
        red 0%,
        #ffff00 16.67%,
        #00ff00 33.34%,
        #00ffff 50.01%,
        #0000ff 66.68%,
        #ff00ff 83.35%,
        red 100%
    );
    border-radius: 20px;
    position: relative;
}
.modal div > .cslider .bar .thumb {
    position: absolute;
    top: 0;
    left: 0;
    scale: 1.2;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 5px 5px #eeeeee1c;
    cursor: grab;
    transform: translateX(var(--thumb));
}
.modal div > .cslider .chosen {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    background-color: var(--color);
}
.body-container[theme="dark"] input { background-color: #6e6e6e; color: white; }
.body-container[theme="dark"] input::placeholder { color: #dadadaaf; }
.body-container[theme="light"] input { background-color: #cacaca; color: black; }

.modal div > .buttons {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal div > .buttons button {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    border-radius: 30px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.modal div > .buttons button:hover { opacity: 0.7; }
.modal div > .buttons button:active { scale: 0.95; }
.modal div > .buttons button.danger { background-color: #df2323; color: white; }
.modal div > .buttons button.default { background-color: #c548ff; color: white; }
.modal div > .buttons button.regular { background-color: #7e7e7e; color: white; }

.modalbox {
    width: 70%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.body-container[theme="dark"] .modalbox { background-color: #3f3f3f; color: white; }
.body-container[theme="light"] .modalbox { background-color: #fff; color: black; }

.slideui { display: none; }
.body-container[theme="dark"] .slideui { background-color: var(--darktheme-bg); color:var(--darktheme-color); }
.body-container[theme="light"] .slideui { background-color: var(--lighttheme-bg); color: var(--lighttheme-color); }
.slideui.show {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.slideui#chat .cprofile {
    width: 100%;
    height: 8%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.slideui#chat .cprofile .usericon {
    height: 100%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.slideui#chat .cprofile .profilename {
    font-size: 1.4rem; font-weight: 700;
    cursor: pointer; user-select: none;
}

.slideui#chat .chatspace {
    width: 100%;
    flex-grow: 1;
}

.slideui#chat .chatspace .chatmsg {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    user-select: none;
}

.slideui#chat .chatspace .chatmsg .user {
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: var(--profcolor);
}

.slideui#chat .chatspace .chatmsg .chats {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slideui#chat .chatspace .chatmsg .chats > div:not(.reactions) {
    padding: 0 5px;
    border-left: 3px solid var(--profcolor);
}

.slideui#chat .chatspace .chatmsg .chats > .reactions {
    padding: 0 5px 5px 5px;
    font-size: 1.8rem;
}

.slideui#chat .chatspace .chatmsg .chats > div.saved {
    border-left: 6px solid var(--profcolor);
}
.body-container[theme="dark"] .slideui#chat .chatspace .chatmsg .chats > div.saved { background: #3a3a3a; }
.body-container[theme="light"] .slideui#chat .chatspace .chatmsg .chats > div.saved { background: #cccccc;}

input[type=file] { display: none; }
.slideui#chat .messagebox {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.slideui#chat .messagebox form {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slideui#chat .messagebox label .attach {
    height: 85%;
    padding: 12px 20px;
    font-size: 1.4rem;
    text-align: center;
}
.slideui#chat .messagebox input {
    flex-grow: 1;
    height: 85%;
}

.col1 {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 45px 25px;
}

.col1 .user-profile {
    width: 15%;
    text-align: center;
    color: inherit;
}

.col1 .span {
    flex-grow: 1;
    text-align: center;
    user-select: none;
}

.col1 .friend-requests {
    width: 15%;
    text-align: center;
    color: inherit;
    position: relative;
}

.col1 .friend-requests .notifs {
    position: absolute;
    right: 8px;
    top: -15px;
    width: fit-content;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 5px;
    background-color: red;
    color: white;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1 div i { cursor: pointer; }
.col1 div i:hover { opacity: 0.6; }

.col2 {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 25px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.body-container[theme="dark"] .col2 { border-bottom: 1px solid #444444; }
.body-container[theme="light"] .col2 { border-bottom: 1px solid #d1d1d1; }

.story {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.story img {
    height: 75%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid var(--story-ring-color);
}
.story.add { width: 25%; }
.story.add .img {
    height: 75%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid white;
    font-size: 2rem;
    opacity: 0.9;
}
.body-container[theme="dark"] .story.add .img {
    border: 3px solid white;
    color: var(--darktheme-color);
}

.body-container[theme="light"] .story.add .img {
    border: 3px solid #363636;
    color: #363636;
}
.story.add .img:hover { opacity: 0.7; }

.story .span {
    width: 100%;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.story .refresh {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    font-size: 1.6rem;
    left: -4px;
    height: calc(75% + 2px);
    aspect-ratio: 1;
    border-radius: 50%;
    color: white;
}

.col3 {
    width: 100%;
    height: 78vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat {
    width: 100%;
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    cursor: pointer;
}

.chat:hover { background-color: #3f3f3f; }
.body-container[theme="dark"] .chat:hover { background-color: #3f3f3f; }
.body-container[theme="light"] .chat:hover { background-color: #ececec; }
.body-container[theme="dark"] .chat:not(:last-child) { border-bottom: 1px solid #444444; }
.body-container[theme="light"] .chat:not(:last-child) { border-bottom: 1px solid #d1d1d1; }

.chat .profile {
    height: fit-content;
    aspect-ratio: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.chat .chatinfo {
    flex-grow: 1;
    height: 100%;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat .chatinfo > div {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 2px;
    color: #707070;
}

.chat .chatinfo > div:not(:last-child) {
    font-size: 1.4rem;
    font-weight: 500;
}
.body-container[theme="dark"] .chat .chatinfo > div:not(:last-child) { color: white; }
.body-container[theme="light"] .chat .chatinfo > div:not(:last-child) { color: black; }

.chatinfo .chat-status > div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.chatinfo .chat-status .dc { color: #707070; font-weight: normal; font-size: 0.95rem; }
.chatinfo .chat-status .ds { color: #707070; font-weight: normal; font-size: 0.95rem; }
.chatinfo .chat-status .dc i { color: var(--chatcolor); }
.chatinfo .chat-status .ds i { color: var(--snapcolor); }
.chatinfo .chat-status .nc { color: var(--chatcolor); font-weight: 800; font-size: 0.95rem; }
.chatinfo .chat-status .ns { color: var(--snapcolor); font-weight: 800; font-size: 0.95rem; }

.chat .snap {
    width: 15%;
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}