@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --darktheme-bg: #262626;
    --lighttheme-bg: #fff;
    --darktheme-color: #fff;
    --lighttheme-color: #000;
    --story-ring-color: #2b8bff;

    --chatcolor: #4d9dff;
    --snapcolor: #df2323;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Inter';
    position: relative;
}

* { box-sizing: border-box; transition: all 0.2s; font-family: 'Inter'; }
img { -webkit-user-drag: none; }
::-webkit-scrollbar { width: 1px; height: 1px; }
::-webkit-scrollbar-thumb { width: 1px; height: 1px; background-color: transparent; }
::-webkit-scrollbar-thumb:hover { width: 1px; height: 1px; background-color: transparent; }
::-webkit-scrollbar-track { width: 1px; height: 1px; background-color: transparent; }
button {
    width: var(--w);
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    font-size: var(--fs);
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover { opacity: 0.7; }
button:active { scale: 0.95; }
button.danger { background-color: #df2323; color: white; }
button.default { background-color: #c548ff; color: white; }
button.regular { background-color: #7e7e7e; color: white; }
button:disabled { background-color: #7e7e7e; color: white; opacity: 0.6; }

.body-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.body-container[theme="dark"] {
    background-color: var(--darktheme-bg);
    color: var(--darktheme-color);
}

.body-container[theme="light"] {
    background-color: var(--lighttheme-bg);
    color: var(--lighttheme-color);
}

@keyframes contextmenuanimate {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.context-menu-modal { display: none; }
.context-menu-modal.show {
    width: 24%;
    height: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.context-menu {
    width: 50%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px 8px #3d3d3d31;
    animation: contextmenuanimate 0.3s forwards;
}
.body-container[theme="dark"] .context-menu { background-color: var(--darktheme-bg); color: var(--darktheme-color); }
.body-container[theme="light"] .context-menu { background-color: var(--lighttheme-bg); color: var(--lighttheme-color); }
.context-menu .option {
    width: 100%;
    height: 4vh;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: inherit;
    font-size: 1.05rem;
}
.context-menu .option:hover { opacity: 0.8; }
.body-container[theme="dark"] .context-menu .option:hover { background-color: #363636; }
.body-container[theme="light"] .context-menu .option:hover { background-color: #e2e2e2; }
.context-menu .option.red { color: #fd2b2b; }
.context-menu .optionreactions {
    width: 100%;
    height: 6vh;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}
.context-menu .optionreactions > div {
    cursor: pointer;
    animation: none;
    border-radius: 5px;
}
.body-container[theme="dark"] .context-menu .optionreactions > div:hover { background-color: #363636; }
.body-container[theme="light"] .context-menu .optionreactions > div:hover { background-color: #e2e2e2; }
@keyframes shakereaction {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
.context-menu .optionreactions > div:hover {
    scale: 1.5;
    animation: shakereaction 0.2s forwards;
}

.body-container[theme="dark"] .fr { background-color: #3f3f3f; color: white; }
.body-container[theme="light"] .fr { background-color: #fff; color: black; }
.body-container[theme="dark"] .auserprofile { background-color: #3f3f3f; color: white; }
.body-container[theme="light"] .auserprofile { background-color: #fff; color: black; }

@keyframes slideinuserpf {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.auserprofile { display: none; opacity: 0; z-index: -2; }
.auserprofile.show {
    position: absolute;
    z-index: 6;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    padding-top: 40px;
}

.auserprofile .back {
    width: fit-content;
    font-size: 1.2rem;
    cursor: pointer;
}

.auserprofile .username {
    width: 100%;
    font-size: 1.8rem;
    padding: 20px 0;
}

.auserprofile .username i {
    color: var(--color);
}

.auserprofile .tags {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 0;
}

.auserprofile .tags .tag {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    user-select: none;
    border: 1px solid #9b9b9b;
}

.auserprofile .text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auserprofile .text-container .title { font-size: 1.3rem; }
.auserprofile .text-container .text { font-size: 1rem; }

.auserprofile .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

.auserprofile .buttons button {
    width: 100%;
}

.fr { display: none; }
.fr.show {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 5px;
}

.fr .search-bar {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.fr .search-bar div { width: 10%; text-align: center; }
.fr .search-bar i {
    font-size: 1.5rem;
    cursor: pointer;
}

.fr .results {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.fr .results .person {
    width: 100%;
    height: 8vh;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    align-items: center;
    user-select: none;
    margin: 10px 0;
}

.body-container[theme="dark"] .fr .results .person { background-color: #5c5c5c; color: white; }
.body-container[theme="light"] .fr .results .person { background-color: #f5f5f5; color: black; }

.fr .results .person .user-profile {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color);
    font-size: 1.8rem;
}

.fr .results .person .userinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.fr .results .person .userinfo .name { font-size: 1.3rem; font-weight: 700; }
.fr .results .person .userinfo .username { opacity: 0.8; }

.fr .results .person button {
    min-width: 20%;
    padding: 10px 0;
    height: fit-content;
}

.modal { display: none; }
.modal.show {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal div > .title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 10px 0;
}

.modal div > .text {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.modal div > .emoji-selector {
    width: 100%;
    padding: 20px 0 10px 0;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(5, 20%);
}

.modal div > .emoji-selector .emoji-s {
    padding: 8px;
    cursor: pointer;
    user-select: none;
    font-size: 1.3rem;
    border-radius: 8px;
}
.modal div > .emoji-selector .emoji-s:hover {
    opacity: 0.8;
}
.modal div > .emoji-selector .emoji-s:hover {
    scale: 0.96;
}
.body-container[theme="dark"] .modal div > .emoji-selector .emoji-s:hover { background: #808080af; }
.body-container[theme="light"] .modal div > .emoji-selector .emoji-s:hover { background: #cacacaaf; }
.body-container[theme="dark"] .modal div > .emoji-selector .emoji-s.sel { background: #808080e8; }
.body-container[theme="light"] .modal div > .emoji-selector .emoji-s.sel { background: #cacacad7; }

.modal div > .input {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    border: none;
    outline: none;
}
.modal div > .cslider {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal div > .cslider input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 3vh;
    background: linear-gradient(to right,
        red 0%,
        #ffff00 16.67%,
        #00ff00 33.34%,
        #00ffff 50.01%,
        #0000ff 66.68%,
        #ff00ff 83.35%,
        red 100%
    );
    border-radius: 20px;
    padding: 0;
}
.modal div > .cslider input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 4vh;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white;
    box-shadow: 0 0 5px 5px #eeeeee1c;
    cursor: grab;
}
.modal div > .cslider .chosen {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    background-color: var(--color);
}
.body-container[theme="dark"] input { background-color: #6e6e6e; color: white; }
.body-container[theme="dark"] input::placeholder { color: #dadadaaf; }
.body-container[theme="light"] input { background-color: #cacaca; color: black; }

.modal div > .buttons {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal div > .buttons button {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    border-radius: 30px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.modal div > .buttons button:hover { opacity: 0.7; }
.modal div > .buttons button:active { scale: 0.95; }
.modal div > .buttons button.danger { background-color: #df2323; color: white; }
.modal div > .buttons button.default { background-color: #c548ff; color: white; }
.modal div > .buttons button.regular { background-color: #7e7e7e; color: white; }

.modalbox {
    width: 70%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.body-container[theme="dark"] .modalbox { background-color: #3f3f3f; color: white; }
.body-container[theme="light"] .modalbox { background-color: #fff; color: black; }

.body-container[theme="dark"] .slideui { background-color: var(--darktheme-bg); color:var(--darktheme-color); }
.body-container[theme="light"] .slideui { background-color: var(--lighttheme-bg); color: var(--lighttheme-color); }
.slideui {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
}

.slideui#chat .cprofile {
    width: 100%;
    height: 8%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.slideui#chat .cprofile .usericon {
    height: 100%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: var(--color);
}
.slideui#chat .cprofile i { cursor: pointer; color: inherit; }

.slideui#chat .cprofile .profilename {
    font-size: 1.4rem; font-weight: 700;
    cursor: pointer; user-select: none;
}

.slideui#chat .chatspace {
    width: 100%;
    height: 83vh;
    font-size: 1.2rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slideui#chat .chatspace > div {
    padding: 0 10px;
}

.slideui#chat .chatspace .user {
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: var(--profcolor);
}

.slideui#chat .chatspace .chats {
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.slideui#chat .chatspace .chats > div > img {
    height: 20vh;
    aspect-ratio: 3/5;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.slideui#chat .chatspace .deleted-msg {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;
}
.body-container[theme="dark"] .slideui#chat .chatspace .deleted-msg { color: #b4b4b4; }
.body-container[theme="light"] .slideui#chat .chatspace .deleted-msg { color: #a5a5a5;}


.slideui#chat .chatspace .chats > div:not(.reactions) { cursor: pointer; }
.body-container[theme="dark"] .slideui#chat .chatspace .chats > div:not(.reactions):hover { background: #3f3f3f; }
.body-container[theme="light"] .slideui#chat .chatspace .chats > div:not(.reactions):hover { background: #f1f1f1;}

.slideui#chat .chatspace .chats > div:not(.reactions):not(.snap) {
    padding: 0 5px;
    border-left: 3px solid var(--profcolor);
}

.slideui#chat .chatspace .chats .snap {
    padding: 10px 10px;
    border-left: 3px solid var(--profcolor);
}

.slideui#chat .chatspace .chats .snap i {
    background: red;
    background-clip: text;
    color: transparent;
}

.slideui#chat .chatspace .chats > .reactions {
    padding: 0 5px 5px 5px;
    font-size: 1.8rem;
}

.slideui#chat .chatspace .chats > div .replied-msg {
    width: 95%;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #757575;
    margin: 10px 0 10px 5px;
}

.slideui#chat .chatspace .chats > div .replied-msg .user {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    padding: 0;
    text-transform: uppercase;
    color: var(--rcolor);
}

.slideui#chat .chatspace .chats > div .replied-msg .msg {
    width: 100%;
    height: fit-content;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding: 0 5px;
    border-left: 3px solid var(--rcolor);
}

.slideui#chat .chatspace .msgspace {
    width: 100%;
    height: 15px;
}
.body-container[theme="dark"] .slideui#chat .chatspace .chats > div.saved { background: #444444; }
.body-container[theme="light"] .slideui#chat .chatspace .chats > div.saved { background: #e9e9e9;}

input[type=file] { display: none; }
.slideui#chat .messagebox {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
}

.slideui#chat .messagebox .replytomsg { display: none; }
.slideui#chat .messagebox .replytomsg.show {
    position: absolute;
    top: -120%;
    left: 5%;
    width: 90%;
    height: 9vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    box-shadow: 0 0 10px 8px #3d3d3d31;
}

.slideui#chat .messagebox .replytomsg .user {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    padding: 0;
    text-transform: uppercase;
    color: var(--profcolor);
}

.slideui#chat .messagebox .replytomsg .msg {
    width: 100%;
    height: fit-content;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    border-left: 3px solid var(--profcolor);
}
.body-container[theme="dark"] .slideui#chat .messagebox .replytomsg { background-color: #3f3f3f; color: white; }
.body-container[theme="light"] .slideui#chat .messagebox .replytomsg { background-color: #fff; color: black; }

.slideui#chat .messagebox div {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slideui#chat .messagebox .attach {
    width: 15%;
    height: 85%;
    padding: 12px 20px;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
}
.slideui#chat .messagebox input {
    flex-grow: 1;
    height: 85%;
}

@keyframes slideinanimation {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

.currentuserprofile { display: none; }
.body-container[theme="dark"] .currentuserprofile { background-color: var(--darktheme-bg); color:var(--darktheme-color); }
.body-container[theme="light"] .currentuserprofile { background-color: var(--lighttheme-bg); color: var(--lighttheme-color); }
.currentuserprofile.show {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    animation: slideinanimation 0.2s forwards;
}

.currentuserprofile [class*="col-"] {
    width: 100%;
    padding: 5px;
}

.currentuserprofile [class*="col-"] .tags {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 0;
}

.currentuserprofile [class*="col-"] .tag {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    user-select: none;
    border: 1px solid #9b9b9b;
}

.currentuserprofile [class*="col-"] .bestfriend {
    width: 100%;
    height: 8vh;
    border-radius: 10px;
    border: 1px solid #7e7e7e;
    display: flex;
    gap: 10px;
    align-items: center;
    user-select: none;
}

.currentuserprofile [class*="col-"] .bestfriend .bsf-usericon {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--color);
}

.currentuserprofile [class*="col-"] .bestfriend .bsf-profilename {
    height: 100%;
    flex-grow: 1;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.currentuserprofile [class*="col-"] .bestfriend .emoji-animation {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--color);
}

@keyframes bsf_anim_throb {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.4;
    }
    100% {
        scale: 1;
    }
}

@keyframes bsf_anim_flip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes bsf_anim_throbfade {
    0% {
        scale: 1;
        opacity: 0.5;
    }
    50% {
        scale: 1.4;
        opacity: 1;
    }
    100% {
        scale: 1;
        opacity: 0.5;
    }
}
.currentuserprofile [class*="col-"] .bestfriend .emoji-animation.throb { animation: bsf_anim_throb 1s infinite; }
.currentuserprofile [class*="col-"] .bestfriend .emoji-animation.flip { animation: bsf_anim_flip 1s infinite; }
.currentuserprofile [class*="col-"] .bestfriend .emoji-animation.throbfade { animation: bsf_anim_throbfade 1s infinite; }

.currentuserprofile #curretuser-clsbtn { cursor: pointer; }

.currentuserprofile .col-1 {
    height: 10vh;
    display: flex;
    flex-direction: row;
}

.currentuserprofile .col-1 .usericon {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
    font-size: 2.5rem;
    cursor: pointer;
}

.currentuserprofile .col-1 .userinfo {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.currentuserprofile .col-1 .userinfo div:hover {
    cursor: pointer;
    opacity: 0.6;
}

.currentuserprofile .col-1 .userinfo .name {
    font-size: 1.4rem;
    font-weight: 700;
}

.currentuserprofile .col-1 .userinfo .username {
    font-size: 1.1rem;
    opacity: 0.7;
}

.currentuserprofile .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.currentuserprofile .form-container .title {
    font-size: 1.4rem;
    font-weight: 550;
}

.currentuserprofile .switch {
    width: 100%;
    font-size: 1.3rem;
    padding: 4px;
    border-radius: 7px;
    user-select: none;
    border: 1px solid #cccccc;
}

.currentuserprofile .switch .main {
    width: 50%;
    height: 100%;
    font-size: 1.3rem;
    padding: 8px;
    border-radius: 7px;
    background-color: #b6b6b6;
    color: black;
    text-align: center;
    cursor: pointer;
}
.currentuserprofile .switch .main.tgl { transform: translateX(100%); }

@keyframes animateviewsnap {
    0%{
        scale: 0.2;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
.view-snap { display: none; }
.view-snap.show {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 4;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    user-select: none;
    animation: animateviewsnap 0.5s forwards;
}

.view-snap .vs-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.view-snap .vs-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.view-snap .vs-wrapper .profile {
    width: 100%;
    height: 10vh;
    padding: 30px;
    background: linear-gradient(to bottom, #00000040, transparent);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    gap: 10px;
}
.view-snap .vs-wrapper .profile .usericon {
    color: var(--profcolor);
}

.preview-send-snap { display: none; }
.preview-send-snap.show {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 4;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    user-select: none;
    transform: translateY(0);
}

.preview-send-snap .prvwss-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.preview-send-snap .prvwss-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.preview-send-snap .prvwss-wrapper .sendto {
    width: 100%;
    height: 10vh;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.3rem;
    gap: 10px;
}

.preview-send-snap .prvwss-wrapper .close {
    width: 7vh;
    height: 7vh;
    padding: 20px 30px;
    background: linear-gradient(115deg, #00000046, transparent 30%);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.2rem;
    cursor: pointer;
}

.preview-send-snap .prvwss-wrapper .sendto > * {
    cursor: pointer;
}

.send-snap { display: none; }
.send-snap.show {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 4;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    user-select: none;
    transform: translateY(0);
}

.send-snap .close-btn {
    width: 40%;
    text-align: center;
    cursor: pointer;
    font-size: 1.7rem;
}
.send-snap .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 10vh;
}
.send-snap .title > div {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 1.2rem;
}
.send-snap .title :first-child { font-size: 1.4rem; }

.send-snap .snap-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #dadada;
    cursor: pointer;
    font-size: 1.5rem;
    height: 75vh;
}

.col1 {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 45px 25px;
}

.col1 .user-profile {
    width: 15%;
    text-align: center;
    color: var(--color);
}

.col1 .span {
    flex-grow: 1;
    text-align: center;
    user-select: none;
}

.col1 .friend-requests {
    width: 15%;
    text-align: center;
    color: inherit;
    position: relative;
}

.col1 .friend-requests .notifs {
    position: absolute;
    right: 8px;
    top: -15px;
    line-height: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    border-radius: 50%;
    padding: 5px;
    background-color: red;
    color: white;
    font-size: 0.9rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.col1 div i { cursor: pointer; }
.col1 div i:hover { opacity: 0.6; }

.col2 {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 25px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.body-container[theme="dark"] .col2 { border-bottom: 1px solid #444444; }
.body-container[theme="light"] .col2 { border-bottom: 1px solid #d1d1d1; }

.story {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.story img {
    height: 75%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid var(--story-ring-color);
}
.story.add { width: 25%; }
.story.add .img {
    height: 75%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid white;
    font-size: 2rem;
    opacity: 0.9;
}
.body-container[theme="dark"] .story.add .img {
    border: 3px solid white;
    color: var(--darktheme-color);
}

.body-container[theme="light"] .story.add .img {
    border: 3px solid #363636;
    color: #363636;
}
.story.add .img:hover { opacity: 0.7; }

.story .span {
    width: 100%;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.story .refresh {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    font-size: 1.6rem;
    left: -4px;
    height: calc(75% + 2px);
    aspect-ratio: 1;
    border-radius: 50%;
    color: white;
}

.col3 {
    width: 100%;
    height: 78vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.col3 .nofrs {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.col3 .nofrs button {
    width: 50%;
}

.chat {
    width: 100%;
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    cursor: pointer;
}

.chat:hover { background-color: #3f3f3f; }
.body-container[theme="dark"] .chat:hover { background-color: #3f3f3f; }
.body-container[theme="light"] .chat:hover { background-color: #ececec; }
.body-container[theme="dark"] .chat:not(:last-child) { border-bottom: 1px solid #444444; }
.body-container[theme="light"] .chat:not(:last-child) { border-bottom: 1px solid #d1d1d1; }

.chat .profile {
    height: fit-content;
    aspect-ratio: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50%;
    overflow: hidden;
    color: var(--color);
}

.chat .chatinfo {
    flex-grow: 1;
    height: 100%;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat .chatinfo > div {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 2px;
    color: #707070;
}

.chat .chatinfo > div:not(:last-child) {
    font-size: 1.4rem;
    font-weight: 500;
}
.body-container[theme="dark"] .chat .chatinfo > div:not(:last-child) { color: white; }
.body-container[theme="light"] .chat .chatinfo > div:not(:last-child) { color: black; }

.chatinfo .chat-status > div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.chatinfo .chat-status .dc { color: #707070; font-weight: normal; font-size: 0.95rem; }
.chatinfo .chat-status .ds { color: #707070; font-weight: normal; font-size: 0.95rem; }
.chatinfo .chat-status .dc i { color: var(--chatcolor); }
.chatinfo .chat-status .ds i { color: var(--snapcolor); }
.chatinfo .chat-status .nc { color: var(--chatcolor); font-weight: 800; font-size: 0.95rem; }
.chatinfo .chat-status .ns { color: var(--snapcolor); font-weight: 800; font-size: 0.95rem; }

.chat .snap {
    width: 15%;
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

@media screen and (min-width: 900px) {
    .body-container {
        width: 48vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }
}

@media screen and (min-width: 1200px) {
    .body-container {
        width: 24vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }
}

